<div class="w3-card-4 w3-margin-top">
  <div class="w3-container w3-green">
    <h4 i18n="transactions_header|header of the transaction list">Transactions</h4>
  </div>
  <ul class="w3-ul">
    <li *ngFor="let trans of transactions">
      <app-show-transaction [transaction]="trans" [currentHeight]='blockHeight$ | async'></app-show-transaction>
    </li>
  </ul>
</div>