<div class="w3-container">
  <div class="w3-card-4">
    <div class="w3-container w3-blue" i18n="donate_title|Title of the thank you screen">
      <h4>Say Thanks!</h4>
    </div>
    <!-- row for the information -->
    <div class="w3-row-padding">
      <div class="w3-col l8 m6 s12 w3-padding-16">
        <div class="w3-large w3-col m12 w3-margin-bottom">
          {{ message }}
        </div>
        <!-- price entry is amount and currency. make amount 2/3 -->
        <div class="w3-col m8">
          <label i18n="invoice_amount|Label for the amount to be sent">Amount</label>
          <input type="number" class="w3-input w3-border" id="amount" name="amount" required [(ngModel)]="invoice.amount">
        </div>
        <!-- make currency 1/3 -->
        <div class="w3-col m4">
          <label i18n="invoice_currency|Label for the currency selection">Currency</label>
          <select class="w3-select w3-border" id="currency" name="currency" [(ngModel)]="invoice.currency" (ngModelChange)="onChangeCurrency($event)">
            <option value="nem:xem">XEM</option>
            <option value="fiat:czk">CZK</option>
            <option value="fiat:eur">EUR</option>
            <option value="fiat:jpy">JPY</option>
            <option value="fiat:usd">USD</option>
          </select>
        </div>
      </div>
      <!-- the rest will be the QR code -->
      <div class="w3-col l4 m6 s12 w3-display-container" style="height:280px;">
        <qrcode class="w3-display-middle" [qrdata]="invoice | qrcode:rate" [size]="240" [level]="'M'"></qrcode>
      </div>

    </div>
  </div>
</div>