<div class="w3-container w3-margin-top w3-margin-bottom">
  <span style="visibility: hidden; display: none" #transTitle i18n="app_title|Application title">Pay by NEM</span>
  <router-outlet></router-outlet>
  <div class="w3-container">
    <div class="w3-card-4 w3-margin-top w3-row w3-padding">
      <div class="w3-col s4 m4 l4 w3-left-align" i18n="app_talk|Link to telegram group">
        Talk at <a href="https://t.me/joinchat/Hu9ROhBK0YX-_ULHj3L1PA" target="_blank" rel="noopener noreferrer">telegram</a>
      </div>
      <div class="w3-col s4 m4 l4 w3-center" i18n="app_thanks|Link to the thank you screen">
          <a routerLink="/thanks" [queryParams]="{ currency:'fiat:usd', amount:5, address: 'NAQFKQ-GP5CH3-4M5MM5-GAPW3F-67GOYO-GBUKWA-AGII', message: 'If you find this tool useful please contribute so I can spend more time developing it.' }" routerLinkActive="active" target="_blank">Say "Thank you!"</a>
      </div>
      <div class="w3-col s4 m4 l4 w3-right-align" i18n="app_isues|Link to issue tracker for the project">
        <a href="https://bitbucket.org/bad_weather_corp/nembuy/issues" target="_blank" rel="noopener noreferrer">Report issues</a>
      </div>
    </div>
  </div>
</div>