<div class="w3-card-4">
  <div class="w3-container w3-green">
    <h3 i18n="invoice_header|Header of the invoice panel">Send transaction to address</h3>
  </div>
  <form class="w3-container">
    <!-- row for entry of data and for qr code on the right side -->
    <div class="w3-row-padding">
      <!-- two thirds will be occupied by entry of data -->
      <div class="w3-col l8 m6 s12 w3-padding-16">
        <!-- price entry is amount and currency. make amount 2/3 -->
        <div class="w3-col m8">
          <label i18n="invoice_amount|Label for the amount to be sent">Amount</label>
          <input type="number" class="w3-input w3-border" id="amount" name="amount" required [(ngModel)]="invoice.amount">
        </div>
        <!-- make currency 1/3 -->
        <div class="w3-col m4">
          <label i18n="invoice_currency|Label for the currency selection">Currency</label>
          <select class="w3-select w3-border" id="currency" name="currency" [(ngModel)]="invoice.currency" (ngModelChange)="onChangeCurrency($event)">
            <option value="nem:xem">XEM</option>
            <option value="fiat:czk">CZK</option>
            <option value="fiat:eur">EUR</option>
            <option value="fiat:jpy">JPY</option>
            <option value="fiat:usd">USD</option>
          </select>
        </div>
        <!-- second row in data entry is the message -->
        <div class="w3-col m12">
          <label i18n="invoice_message|Label for the message of the invoice">Message</label>
          <input type="text" class="w3-input w3-border" id="message" name="message" [(ngModel)]="invoice.message">
        </div>
        <!-- third row is info about the invoice -->
        <div class="w3-col m12 w3-padding-16">
          <span i18n="invoice_info|Text displayed to indicate amount and exchange rate of the invoice">Sending {{invoice | amount:rate}}</span>
        </div>
      </div>
      <!-- the rest will be the QR code -->
      <div class="w3-col l4 m6 s12 w3-display-container" style="height:280px;">
        <qrcode class="w3-display-middle" [qrdata]="invoice | qrcode:rate" [size]="240" [level]="'M'"></qrcode>
      </div>
      <!-- row for the address which should be fairly static -->
      <div class="w3-col m12 w3-margin-bottom">
        <label i18n="invoice_address|Label for the address that will receive the transfer">Address <small>(Ctrl+R after address change)</small></label>
        <input type="text" class="w3-input w3-border" id="address" name="address" required [(ngModel)]="invoice.address" (ngModelChange)="onChangeAddress($event)">
      </div>
    </div>
  </form>
</div>